<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/head :: common_head">
    <title>jiny</title>
</head>
<body>

<header th:replace="fragment/top :: header">
</header>

<div class="container-fluid">
    <div class="row">

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">패스워드 변경</h1>
            </div>
            <div>
                <nav th:replace="~{fragment/profile_menu :: settings-menu (currentMenu='password')}"></nav>
            </div>

            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}">수정 완료</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row mt-5">

                <div class="col-10">
                    <form role="form" class="needs-validation col-12" action="#" th:action="@{/settings/password}"
                          th:object="${passwordForm}" method="post"
                          novalidate>
                        <div class="form-group mt-3">
                            <label for="newPassword">새 패스워드</label>
                            <input id="newPassword" type="password" th:value="*{newPassword}" th:field="*{newPassword}"
                                   class="form-control"
                                   aria-describedby="newPasswordHelp" required min="8" max="50">
                            <small id="newPasswordHelp" class="form-text text-muted">
                                새 패스워드를 입력하세요.
                            </small>
                            <div>
                                <small class="invalid-feedback">패스워드를 입력하세요.</small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}"
                                       th:errors="*{newPassword}">new password error</small>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="newPasswordConfirm">새 패스워드</label>
                            <input id="newPasswordConfirm" type="password" th:field="*{newPasswordConfirm}"
                                   class="form-control"
                                   aria-describedby="newPasswordConfirmHelp" required min="8" max="50">
                            <small id="newPasswordConfirmHelp" class="form-text text-muted">
                                새 패스워드를 다시 한번 입력하세요.
                            </small>

                        </div>
                        <div class="form-group mt-3">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">패스워드
                                변경하기
                            </button>
                        </div>

                    </form>
                </div>

            </div>


        </main>
    </div>
</div>


</body>
<style>

</style>


</html>