<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/head :: common_head">
  <title>jiny</title>
</head>
<body>

<header th:replace="fragment/top :: header">
</header>

<div class="container-fluid">
  <div class="row">

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">프로필</h1>
      </div>
      <div>
        <nav th:replace="~{fragment/profile_menu :: settings-menu (currentMenu='profile')}"></nav>
      </div>
      <div class="row mt-5">

        <div class="col-10">
          <h2 class="col-sm-12" th:text="${account.nickname}">nickname</h2>
          <div class="row mt-3">
            <form class="col-sm-7" action="#" th:action="@{/settings/profile}" th:object="${profile}" method="post"
                  novalidate role="form">
              <div class="form-group">
                <label for="bio">한 줄 소개</label>
                <input id="bio" type="text" th:field="*{bio}" class="form-control"
                       placeholder="간략한 한 줄을 추가해 보세요." aria-describedby="bioHelp" required/>
                <small id="bioHelp" class="form-text text-muted">
                  35자 이내로 입력하세요.
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}">
                  35자를 초과하였습니다.
                </small>
              </div>
              <div class="form-group">
                <label for="company">관심회사</label>
                <input id="company" type="text" th:field="*{company}" class="form-control"
                       placeholder="삼성전자" aria-describedby="urlHelp" required/>
                <small id="urlHelp" class="form-text text-muted">
                  관심있는 회사를 입력해주세요.
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('company')}" th:errors="*{company}">
                  올바른 회사명이 아닙니다.
                </small>
              </div>

              <div class="form-group">
                <input id="image" type="hidden" th:field="*{image}" class="form-control"/>
              </div>

              <div class="form-group">
                <button class="button btn-primary btn-block" type="submit" aria-describedby="submitHelp">수정하기
                </button>
              </div>
            </form>


            <div class="col-sm-6">
              <div class="card text-center">
                <div class="card-header">
                  프로필 이미지
                </div>
                <div id="current-profile-image" class="mt-3">
                  <i class="fa-solid fa-user" width="125" height="125"></i>

                  <img th:if="${!#strings.isEmpty(profile.image)}" class="rounded"
                       th:src="${profile.image}"
                       width="125" height="125" alt="name" th:alt="${account.nickname}"/>
                </div>
                <div id="new-profile-image" class="mt-3"></div>
                <div class="card-body">
                  <div class="input-group">
                    <input type="file" class="form-control" id="profile-image-file">
                  </div>
                  <div id="new-profile-image-control" class="mt-3 d-grid gap-2">
                    <button class="btn btn-outline-primary" id="cut-button">자르기</button>
                    <button class="btn btn-outline-success" id="confirm-button">확인</button>
                    <button class="btn btn-outline-warning" id="reset-button">취소</button>
                  </div>
                  <div id="cropped-new-profile-image" class="mt-3"></div>
                </div>
              </div>
            </div>




          </div>
        </div>

      </div>




    </main>
  </div>
</div>
<link href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet"/>
<script src="/node_modules/cropper/dist/cropper.min.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script type="application/javascript">
    $(function () {
        cropper = '';
        let $confirmBtn = $("#confirm-button");
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $newProfileImage = $("#new-profile-image");
        let $currentProfileImage = $("#current-profile-image");
        let $resultImage = $("#cropped-new-profile-image");
        let $profileImage = $("#image");

        $newProfileImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();
        $confirmBtn.hide();

        $("#profile-image-file").change(function (e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        let img = document.createElement("img");
                        img.id = 'new-profile';
                        img.src = e.target.result;
                        img.width = 250;

                        $newProfileImage.html(img);
                        $newProfileImage.show();
                        $currentProfileImage.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 1});
                        cropper = $newImage.data('cropper');

                        $cutBtn.show();
                        $confirmBtn.hide();
                        $resetBtn.show();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $resetBtn.click(function () {
            $currentProfileImage.show();
            $newProfileImage.hide();
            $resultImage.hide();
            $resetBtn.hide();
            $cutBtn.hide();
            $confirmBtn.hide();
            $profileImage.val('');
        });

        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();
            let newImage = document.createElement("img");
            newImage.id = "cropped-new-profile-image";
            newImage.src = dataUrl;
            newImage.width = 125;
            $resultImage.html(newImage);
            $resultImage.show();
            $confirmBtn.show();

            $confirmBtn.click(function () {
                $newProfileImage.html(newImage);
                $cutBtn.hide();
                $confirmBtn.hide();
                $profileImage.val(dataUrl);
            });
        });
    });
</script>

</body>
<style>

</style>


</html>