<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="settings-menu (currentMenu)" id="sidebarMenu" class="">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link " th:classappend="${currentMenu == 'profile'} ? active" th:href="@{/settings/profile}" aria-current="page" href="#">프로필</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:classappend="${currentMenu == 'password'} ? active" th:href="@{/settings/password}" href="#">패스워드 변경</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:classappend="${currentMenu == 'notification'} ? active" th:href="@{/settings/notification}">알림 설정</a>
        </li>
    </ul>



</nav>

</body>
</html>