<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<style>

</style>
<header th:fragment="header" class="navbar navbar-dark sticky-top bg-dark p-0 shadow">
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#" th:href="@{/}"
     style="color: white;">Community</a>
   <!--a href="#" th:href="@{/post/{id}/edit (id=${post.id})}">-->
  <div class="" sec:authorize="isAuthenticated()">
    <a th:href="@{/profile/{name} (name=${#authentication.name})}">내정보</a>
  </div>

  <div class="userinfo" sec:authorize="isAuthenticated()">
      <a th:text="${#authentication.name}+' 님' ">사용자</a>
  </div>
  <div class="login-status"  sec:authorize="!isAuthenticated()">
    <a class="nav-link px-3 signin" href="#" th:href="@{/login}"  style="color: white;">Sign in</a>
  </div>

  <div class="login-status"  sec:authorize="isAuthenticated()" >
    <form action="/logout" th:action="@{/logout}" method="post">
      <button class="signout" type="submit" value="Logout"  style="border: none; color: white; background-color: rgba(var(--bs-dark-rgb);">Sign out</button>
    </form>
  </div>


  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!--  <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">-->



</header>

</body>
</html>