<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav id="navigation" th:fragment="header" class="navbar navbar-expand-lg bg-light">
  <style>
  .inline {
    display: inline;
  }
  .userinfo{
<!--    float : right;-->
    color: white;

    }
    .login-status{

    color: white;
    }
</style>
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" th:href="@{/}" >DATA MAP</a>



<!--    <i class="fa-duotone fa-bars"></i>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>




    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" th:href="@{/}">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            게시판
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item" th:each="category : ${category_list}">
              <a class="dropdown-item" aria-current="page" href="#" th:href="@{/post/list/{category}  (category=${category.name}) }">
                <span data-feather="home" class="align-text-bottom" th:text="${category.name}">자유게시판</span>
              </a>
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/profile/{name} (name=${#authentication.name})}">
            마이페이지
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/admin/}">
            관리
          </a>
        </li>
      </ul>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">
            로그인
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/account/new}" sec:authorize="!isAuthenticated()">
            회원가입
          </a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
          <i class="fa-solid fa-user" th:if="${#strings.isEmpty(account?.profile?.image)}"></i>
          <img th:if="${!#strings.isEmpty(account?.profile?.image)}"
               th:src="${account.profile.image}" width="24" height="24" class="rounded border"/>

          <a class="" th:text="${#authentication.name}+' 님' ">사용자</a>
        </li>
        <!--알림-->
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="inline nav-link" th:href="@{/notifications}">
            <i th:if="${!hasNotification}" class="fa fa-bell-o" aria-hidden="true"></i>
            <span class="text-info"><i th:if="${hasNotification}" class="fa fa-bell" aria-hidden="true"></i></span>
          </a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
          <form action="/logout" th:action="@{/logout}" method="post">
            <button class="signout" type="submit" value="Logout"  style="border: none; color: black; background-color: rgba(var(--bs-dark-rgb);">Sign out</button>
          </form>
        </li>



      </ul>

      <form th:action="@{/post/search}" method="get" class="d-flex" role="search">
        <input name="keyword" class="form-control me-2" type="search" placeholder="게시물 검색" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>



</nav>

</body>
</html>