<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: common_head">
<body class="bg-light">
<header th:replace="fragment/top :: header"/>
<div class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">

        <h6 th:if="${numberOfNotChecked== 0 }" class="border-bottom pb-2 mb-0">새로 도착한 알림이 없습니다.</h6>

        <div th:if="${numberOfNotChecked!= 0 }" class="border-bottom pb-2 mb-0">
          <span th:text="${numberOfNotChecked }" ></span>
          <span>건 읽지 않은 알람이 있습니다. </span>
        </div>
        <ul class="list-group list-group-flush">
            <a th:replace="fragment/fragments.html::notification-list (notifications=${newCommentNotifications})"></a>
            <a th:replace="fragment/fragments.html::notification-list (notifications=${readNotifications})"></a>
        </ul>



        <small class="d-block text-end mt-3">
                  <form th:action="@{/notifications}" th:method="delete">
                    <button class="btn" type="submit" aria-describedby="deleteHelp">
                      읽은 알림 삭제
                    </button>

                  </form>
        </small>
    </div>


</div>

</body>
</html>