<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragment/header :: common_header}"></div>
<style>
 .fieldError {
    border-color: #bd2130;
 }
 .form-group {
    margin-bottom: 12px;
    margin-top: 12px;
 }
 .duplicate{
    margin-top: 0.5rem;
 }

</style>
<body>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<header th:replace="fragment/top :: header">
</header>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 가입 </h2>
    </div>

    <form role="form" th:action="@{/account/new}" th:object="${form}"
          method="post">

        <div class="form-group">
            <label th:for="name">이메일을 입력하세요</label>
            <input type="text" id="email_text" th:field="*{email}" class="form-control"
                   placeholder="이름을 입력하세요">
            <small class="field-error" th:errors="*{email}">
                이메일 형식 오류
            </small>
        </div>
        <div class="form-group">
            <label th:for="city">닉네임</label>
            <input id="nickname_text" type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임을 입력하세요">

            <small class="field-error" th:errors="*{nickname}">
                닉네임 형식 오류
            </small>
        </div>

        <div class="form-group">
            <label th:for="street">패스워드</label>
            <input type="text" th:field="*{password}" class="form-control" placeholder="패스워드를 입력하세요">
            <small class="field-error" th:errors="*{password}">
                패스워드 형식 오류
            </small>
        </div>
        <div class="form-group">
            <label th:for="street">패스워드 확인</label>
            <input type="text" th:field="*{password2}" class="form-control" placeholder="패스워드를 입력하세요">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"> 글로벌 오류 메시지</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">회원 가입 요청</button>
    </form>
    <br/>
</div> <!-- /container -->
</body>
</html>