<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: common_header">
    <title>jiny</title>
</head>
<body>

<header th:replace="fragment/top :: header">
</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{fragment/left_menu :: left_menu}"></nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">

                    </div>
                    <a href="#" th:href="@{/post/add}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                        글쓰기
                    </button>
                    </a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                     <tr>
                        <th width="75%" scope="col">제목</th>
                        <th scope="col">작성자</th>
                     </tr>
                    </thead>
                    <tbody>
                     <tr th:each="postdto : ${posts}">

                          <td>
                              <a href="#" th:href="@{/post/{id} (id=${postdto.id})}">
                              <div width="75%" th:text="${postdto.title}">
                              title
                              </div>
                              </a>
                          </td>

                          <td th:text="${postdto.nickname}">유저</td>
                     </tr>
                    </tbody>
                </table>
            </div>

        </main>
    </div>
</div>


</body>



</html>
