<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: common_header">
    <title>jiny</title>
</head>
<body>

<header th:replace="fragment/top :: header">
</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{fragment/left_menu :: left_menu}"></nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <a href="#" th:href="@{/post/add}">
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            This week
                        </button>
                    </a>
                </div>
            </div>

            <div th:object="${post}" >
                <div th:text="*{content}"></div>
            </div>

            <div class="postbtn">
            <div class="like" id="likebtn">
                <div> <!-- th:if="${user.age == 0}" -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                    </svg>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                </div>
                <script>
        $(document).ready(function(){
            $("#likebtn").on('click',function(){ // 제출 버튼 이벤트 지정
                $.ajax({
                    url: "localhost:8080/post//like", // 목적지
                    type: "POST", // HTTP Method
                    data: $("#theForm").serialize(), // 전송 데이터
                    dataType: 'json', // 전송 데이터 형식
                    success: function(res){ // 성공 시 실행
                        alert("성공");
                    },
                    error:function(er){ //실패 시 실행
                        alert("실패 원인 : " + er);
                    }
                });
            });
        });
    </script>
            </div>
            </div>


            <div class="comment-form">
                <h3 class="h3">Comment</h3>
                <form th:action="@{/post/comment}" th:object="${comment}" method="post">
                  <textarea class="comment" id="comment" name="comment"></textarea>

                  <div class="submit">
                    <button type="submit" class="btn btn-primary">등록</button>
                  </div>
                </form>
            </div>

        </main>
    </div>
</div>


</body>
<style>
.postbtn{
    margin-top: 3rem;
    float: left;
    padding: 0 9px;
    border-radius: 16px;
    border: 1px solid #959595;
    border-color: rgba(185,185,185,0.5);
    font-size: 0 !important;
}
.like{
    float: left;
    position: relative;
}
.comment-form{
    margin-top: 5rem;
}

.comment{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
}
</style>


</html>